@{
    ViewBag.Title = "Index";
}

 @Html.ActionLink("Recomendar", "Create")
    <table>
        <tr>
            <th>Nombre</th>
            <th>Telefono </th>
            <th>Email </th>
            <th>Comentario</th>
        </tr>

        @foreach (var item in ViewBag.recomendaciones)
        {
            <tr>
                <td>@item.Nombre </td>
                <td>@item.Telefono</td>
                <td>@item.Mail </td>
                <td>@item.Comentario</td>
            </tr>
        }
    </table>
